################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DataBaseTools/bin
/DataBaseTools/Docs
/DataBaseTools/obj
/DataBaseToolsSetup/Release
/DataBaseToolsSetup/Debug
